.error-message {
  color: tomato;
  font-weight: bold;
  text-align: center;
  padding: 10rem;
  font-size: 3rem;
}
@media screen and (max-width: 500px) {
  .error-message {
    padding: 2rem;
    font-size: 2.5rem;
  }
}
